{%- extends "base.html" -%}
{% block content %}
<div class="col-lg-9 col-md-offset-3">
  <div class="well bs-component">
      Guidelines

      <p>About the page:<br>
      This page is created as a component of a course given by the University of Bergen. It is a collection of ethical
      dilemmas mainly created to improve the research on machine ethics. The collection of these dilemmas is not
      complete with all existing dilemmas but contains what we have managed to find. We have therefore not only created
      this page to display dilemmas but also so that dilemmas could be added.</p>

      <p>How to use it<br>
      To use this database, you can either search for a specific dilemma on the search bar on top, or scroll through the
      collection. If you find a specific dilemma, you can extract it by either copying the text or click on the export
      button. When clicking on the “export” button the selected dilemma would appear in a JSON-syntax ready be
      exported.</p>


      <p>How to add or do changes to dilemmas<br>
      If you have an ethical dilemma that you want to add to the collection you can click on the “Add dilemma button on
      the left menu. Then a schema appears that needs to be filled in to the best of your knowledge.</p>


      <p>If you want to change a dilemma, you can do this by pressing the “edit” button under the dilemma. Then a filled
      schema appears and you can do the changes you seem necessary.</p>
  </div>
</div>

{%- endblock %}
