{%- extends "base.html" -%}
{% block content %}
                  <div class="col-lg-6">
                      <div class="well bs-component">
                          <form class="form-horizontal" role="index" action="/articles/edit/{{ id }}" method=post>
                              <fieldset>
                                {{ form.hidden_tag() }}
                                  <legend>
                                      Update article
                                  </legend>


                                  {{ render_field(form.title, class="form-control", placeholder="Title") }}
                                  {{ render_field(form.authors, class="form-control", placeholder="Authors") }}
                                  {{ render_field(form.abstract, class="form-control", placeholder="Abstract") }}
                                  {{ render_field(form.dilemma_body, class="form-control", placeholder="Dilemma Body") }}
                                  {{ render_field(form.keywords, class="form-control", placeholder="Keywords") }}
                                  {{ render_field(form.article_url, class="form-control", placeholder="Article URL") }}
                                  {{ form.submit(class="btn-primary btn")}}
                              </fieldset>
                          </form>
                      </div>
                  </div>
{%- endblock %}
